<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="catalog/view/theme/default_x/stylesheet/stylesheet.min.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
<script src="catalog/view/theme/default_x/javascript/common.js"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body onload="init()">

<header class="header">
  <div class="container">
    <div class="row">

      <div class="col-sm-4 col-xs-10">
        <div id="logo" class="logo">
          {% if logo %}
          <a class="logo__link" href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="logo__img img-responsive"
            /></a>
          {% else %}
          <h1 class="logo__title"><a class="logo__link" href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>
      </div>

      <div class="col-sm-8 col-xs-2">
        <nav class="listMenu pull-right">
        
          <span class="listMenu__link bars visible-sm visible-xs" onclick="openSlideNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
        
          <div class="listMenu__wrapperOut">
            <span class="closeButton visible-sm visible-xs" onclick="closeSlideNav()"><i class="fa fa-times" aria-hidden="true"></i></span>
        
            <!-- Categories -->
        
            <div class="listMenu__element">{{ menu }}</div>
        
            <!-- Cart -->
        
            <div class="listMenu__element">{{ cart }}</div>
        
            <!-- Contacts -->
        
            <div class="listMenu__element">
              <span class="listMenu__link" onclick="openSection('listMenu__contacts')"><i class="fa fa-home" aria-hidden="true"></i> {{ text_contact_menu }}</span>
              <div class="listMenu__wrapper listMenu__contacts">
                <span class="closeButton visible-sm visible-xs" onclick="closeSection('listMenu__contacts')"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                <ul class="menuDropdown list-unstyled">
                  <li class="menuDropdown__element">
                    <a class="menuDropdown__link" href="tel:{{ telephone }}"><i class="fa fa-phone" aria-hidden="true"></i> {{ telephone
                      }}
                    </a>
                  </li>
                  {% if callback_active == 1 %}
                  <li class="menuDropdown__element">
                    <a class="menuDropdown__link" id="button_feedback_header" data-toggle="modal" href="#modalFeedbackHeader"><i class="fa fa-users"
                        aria-hidden="true"></i> {{ text_button_callback }}</a>
                  </li>
                  {% endif %}
                  <li class="menuDropdown__element">
                    <a class="menuDropdown__link" href="{{ contact }}"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ text_contact
                      }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        
            <!-- Menu -->
        
            <div class="listMenu__element">
              <span class="listMenu__link" onclick="openSection('listMenu__menu')"><i class="fa fa-bars" aria-hidden="true"></i> {{ text_menu }}</span>
              <div class="listMenu__wrapper listMenu__menu">
                <span class="closeButton visible-sm visible-xs" onclick="closeSection('listMenu__menu')"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                <ul class="menuDropdown list-unstyled">
                  <li class="menuDropdown__element submenu">
                    <span class="menuDropdown__link submenu__link"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ text_account }}
                    </span>
                    <div class="menuDropdown__wrapper submenu__element">
                      <span class="closeButton submenu__close visible-sm visible-xs"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                      <ul class="menuDropdown list-unstyled">
                        {% if logged %}
                        <li class="menuDropdown__element"><a class="menuDropdown__link" href="{{ account }}">{{ text_account }}</a></li>
                        <li class="menuDropdown__element"><a class="menuDropdown__link" href="{{ order }}">{{ text_order }}</a></li>
                        <li class="menuDropdown__element"><a class="menuDropdown__link" href="{{ transaction }}">{{ text_transaction
                            }}</a></li>
                        <li class="menuDropdown__element"><a class="menuDropdown__link" href="{{ download }}">{{ text_download }}</a></li>
                        <li class="menuDropdown__element"><a class="menuDropdown__link" href="{{ logout }}">{{ text_logout }}</a></li>
                        {% else %}
                        <li class="menuDropdown__element"><a class="menuDropdown__link" href="{{ register }}">{{ text_register }}</a></li>
                        <li class="menuDropdown__element"><a class="menuDropdown__link" href="{{ login }}">{{ text_login }}</a></li>
                        {% endif %}
                      </ul>
                    </div>
                  </li>
                  <li class="menuDropdown__element"><a id="wishlist-total" class="menuDropdown__link" href="{{ wishlist }}"><i class="fa fa-heart-o"
                        aria-hidden="true"></i> <span>{{ text_wishlist }}</span></a></li>
                  <li class="menuDropdown__element submenu">{{ language }}</li>
                  <li class="menuDropdown__element submenu">{{ currency }}</li>
                  <li class="menuDropdown__element">{{ search }}</li>
                </ul>
              </div>
            </div>
        
          </div>
        </nav>
        </div>

    </div>
  </div>
</header>

<!-- Modal window callback -->

{% if callback_active == 1 %}
<div class="modal fade" id="modalFeedbackHeader" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div style="display:inline-block; width: 100%; text-align:right;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-horizontal" id="form-feedback-header">
          <div class="form-group required">
            <div class="col-sm-12">
              <label class="control-label" for="input-name-header">{{ entry_name }}</label>
              <input type="text" name="name" value="{{ name_callback }}" id="input-name-header" class="form-control" />
            </div>
            <div class="col-sm-12">
              <label class="control-label" for="input-phone-header">{{ entry_phone }}</label>
              <input type="text" name="phone" value="{{ phone_callback }}" id="input-phone-header" class="form-control" />
            </div>
          </div>
        </form>
        <button type="button" id="button_send_feedback_header" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{
          text_send }}</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#button_send_feedback_header').on('click', function () {
    $.ajax({
      url: 'index.php?route=common/header/write',
      type: 'post',
      dataType: 'json',
      data: $("#form-feedback-header").serialize(),
      beforeSend: function () {
        $('#button_send_feedback_header').button('loading');
      },
      complete: function () {
        $('#button_send_feedback_header').button('reset');
      },
      success: function (json) {
        $('.alert-success, .alert-danger').remove();
        if (json['error']) {
          $('#content').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        }
        if (json['success']) {
          $('#content').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          $('input[name=\'name\']').val('');
          $('input[name=\'phone\']').val('');
        }
      }
    });
  });
</script>
{% endif %}

<main class="main">